<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>加载.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1852,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1852,134}}</string>
                <key>sourceSize</key>
                <string>{1852,134}</string>
            </dict>
            <key>覆盖条.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{1752,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1752,134}}</string>
                <key>sourceSize</key>
                <string>{1752,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiazai.png</string>
            <key>size</key>
            <string>{1856,274}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01913bdaa2362e62dca94f1cdff5ab88:073bf197bc70795ffc894dc0c65b59b0:cd634e9dd0d51f5b48b1ca92205098db$</string>
            <key>textureFileName</key>
            <string>jiazai.png</string>
        </dict>
    </dict>
</plist>
