<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{256,83}}</string>
                <key>sourceSize</key>
                <string>{258,83}</string>
            </dict>
            <key>2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{256,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{256,83}}</string>
                <key>sourceSize</key>
                <string>{258,83}</string>
            </dict>
            <key>3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{256,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{256,83}}</string>
                <key>sourceSize</key>
                <string>{258,83}</string>
            </dict>
            <key>4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{256,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{256,83}}</string>
                <key>sourceSize</key>
                <string>{258,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shezhi.png</string>
            <key>size</key>
            <string>{1034,87}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96210ff671c1535f61cd4cde95224210:88b5fb1e086010fb03bddeaa49463553:c34bbbd9548a427979e94a70924b91e3$</string>
            <key>textureFileName</key>
            <string>shezhi.png</string>
        </dict>
    </dict>
</plist>
